.condensed__container {
    width: 100%;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 3px #222;
}

.condensed__current__amount {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 11;
    text-align: center;
    vertical-align: middle;
}

.condensed__title {
    position: absolute;
    top: 0px;
    left: 10px;
    text-shadow: 0px 0px 1px rgb(34 34 34);
}

.condensed__amount {
    position: absolute;
    top: 0px;
    right: 10px;
    text-shadow: 0px 0px 1px rgb(34 34 34);
}

.condensed__bar {
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 9;
    box-shadow: 0px 0px 1px rgb(0 0 0);
}
